@font-face {
  font-family: 'Normalidad';
  src: url('../fonts/NormalidadWide-Thin.woff2'),
        url('../fonts/NormalidadWide-Thin.woff');
  font-display: swap;
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('../fonts/Normalidad Wide-Regular-Web.woff2'),
  url('../fonts/Normalidad Wide-Regular-Web.woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}