@import './mixins';
@import './typo';

.vue-portal-target {
  --background-popup: #050A0F;
  --transition-time: 0.6s;
  --transition-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

.order {
  &.v-easy-dialog--backdrop {
    background-color: var(--background-popup)!important;
  }

  .v-easy-dialog--backdrop-btn {
    display: none!important;
  }

  .v-easy-dialog--content-container {
    position: relative!important;

    .order {

      &__video {
        position: absolute;
        top: 0;
        z-index: -1;

        @media (min-width: 1200px) {
          min-height: 800px;
          width: 90%;
          left: 10%;
          height: 100%;
        }
        @media (max-width: 1199px) {
          display: none;
        }

      }

      &__success {
        color: #FFFFFF;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;

        &__title {
          font-weight: 400;
          font-size: 64px;
          line-height: 111.5%;
          max-width: 638px;
          margin-bottom: 49px;
        }
        &__text {
          font-weight: 350;
          font-size: 36px;
          line-height: 42px;
          max-width: 523px;
        }
        &__submit {
          margin-top: 62px;
        }
      }

      &-inner {
        max-width: 100%;
        position: relative;
        min-height: 680px;
      }

      &__container {
        @media (min-width: 1200px) {
          padding: 139px 0 28px;
          margin: 0 auto 0 132px;
          max-width: 1000px;
        }
        @media (max-width: 1199px) {
          padding: 139px 0 28px;
          margin: 0 auto;
          max-width: 960px;
        }
        @media (max-width: 991px) {
          max-width: calc(100% - (35px * 2));
          padding: 79px 0 69px;
        }
      }

      &-close {
        position: absolute;
        top: 30px;
        left: auto;
        right: 39px;
        background: none!important;
        transition: all var(--transition-time) 0s var(--transition-timing);
        @media (min-width: 992px) {
          @include exact-size(50px, 50px);
        }
        @media (max-width: 991px) {
          @include exact-size(40px, 40px);

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &:hover {
          transform: scale(1.05);
        }
      }
      &-title {
        @media (min-width: 992px) {
          @include text('white', 'headbutton');
        }
        @media (max-width: 991px) {
          font-weight: 400;
          font-size: 40px;
          line-height: 48px;
          color: #FFFFFF;
        }
        @media (max-width: 374px) {
          font-size: 32px;
        }
      }
      &-form {
        &__tel-input {
          .vti {
            &__dropdown {
              display: none!important;
            }
          }
        }
        @media (min-width: 992px) {
          padding: 60px 0;
        }
        @media (max-width: 991px) {
          padding: 50px 0 69px;
        }

        &__group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0;

          &:not(&:last-child) {
            margin-bottom: 40px;
          }

          &__input {
            border: 0;
            background: none;
            outline: none!important;
            display: block;
            width: 100%;
            transition: all 0.3s 0s ease-in-out;
            color: rgba(255,255,255,1);

            @media (min-width: 992px) {
              padding: 0 0 16px;
              font-size: 36px;
              line-height: 46px;
              height: 46px;
              font-weight: 350;
            }
            @media (max-width: 991px) {
              padding: 0 0 8px;
              font-size: 20px;
              line-height: 40px;
              height: 40px;
              font-weight: 400;
            }
          }
          &::after {
            content: '';
            display: block;
            border: 2px solid rgba(255,255,255,1);
            width: 100%;
            transition: all 0.3s 0s ease-in-out;
            @media (max-width: 991px) {
              border-width: 1px;
            }
          }

          &:not(&_active) {
            .input {
              color: rgba(255,255,255,0.4);
            }
            &::after {
              border-color: rgba(255,255,255,0.4);
            }
          }
        }

        &__submit {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          color: #FFFFFF;
          transition: all 0.3s 0s ease-in-out;
          font-weight: 400;

          @media (min-width: 992px) {
            border-radius: 20px;
            padding: 10px 40px 14px;
            font-size: 40px;
            line-height: 70px;
          }
          @media (max-width: 991px) {
            padding: 19px 30px 22px;
            font-size: 30px;
            line-height: 36px;
            border-radius: 18px;
          }
          @media (max-width: 575px) {
            font-size: 24px;
            margin-left: auto;
            margin-right: auto;
            padding: 19px 20px 22px;
            width: 100%;
            justify-content: center;
          }
          @media (max-width: 374px) {
            font-size: 20px;
          }

          &:not(&_active) {
            background: rgba(255, 255, 255, 0.3);
            pointer-events: none;
            user-select: none;
            opacity: 0.4;
          }
          &_active {
            background: #14C1DE;
          }
        }
      }
      &-slugs {
        @media (min-width: 992px) {
          margin-top: 30px;
        }
        @media (max-width: 991px) {
          margin-top: 80px;
        }

        &__title {
          @include text('white', 'link');
        }
        &__list {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0;
          overflow: hidden;
          flex-wrap: wrap;

          @media (min-width: 992px) {
            margin: 14px 0 0;
            gap: 20px;
          }
          @media (max-width: 991px) {
            margin: 12px 0 0;
            gap: 14px;
          }

          &__item {
            flex-grow: inherit;
            @media (max-width: 991px) {
              max-width: 100%;
            }
            button {
              background: none!important;
              flex-direction: row;
              padding: 8px 18px;
              gap: 10px;
              border: 2px solid rgba(255,255,255,0.4);
              border-radius: 12px;
              font-weight: 350;
              display: flex;
              align-items: center;
              text-align: center;
              color: rgba(255,255,255,0.4);
              transition: all var(--transition-time) 0s var(--transition-timing);
              white-space: nowrap;
              @media (min-width: 992px) {
                font-size: 24px;
                line-height: 32px;
              }
              @media (max-width: 991px) {
                font-size: 18px;
                line-height: 24px;
                max-width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                gap: 0;
                justify-content: center;
              }
              @media (max-width: 374px) {

              }
            }
            &_active > button, button:hover {
              border: 2px solid rgba(255,255,255,1);
              color: rgba(255,255,255,1);
            }
          }
        }
      }
    }
  }
}

.v-easy-dialog--transition-ease-in {
  transform: inherit!important;
  opacity: 1!important;
  transition: all var(--transition-time) 0s var(--transition-timing)!important;
}

.v-easy-dialog--transition-ease-out {
  transform: inherit!important;
  opacity: 1!important;
  transition: all var(--transition-time) 0s var(--transition-timing)!important;
}

.v-easy-dialog--content-transition-opened {
  opacity: 1!important;
  transform: inherit!important;
}

.v-easy-dialog--content-transition-closed {
  opacity: 0!important;
  transform: inherit!important;
}