/**
  Типографика,
  Цвета,
  Размеры
*/
$textColors: (
  "white": #ffffff,
  "lightblue": #14C1DE
);
$extensions: (
  "lg": 1199px
);
$textSizes: (
  "menu": (
    "size": 24px,
    "line-height": 124%,
    "responsive": (
      "lg": (
        "size": 20px
      )
    )
  ),
  "link": (
    "size": 24px,
    "line-height": 124%,
  ),
  "headline": (
    "size": 64px,
    "line-height": 111.5%,
  ),
  "subheadline": (
    "size": 30px,
    "line-height": 36px,
  ),
  "headbutton": (
    "size": 64px,
    "line-height": 70px,
    "responsive": (
      "lg": (
        "size": 60px,
        "line-height": 66px,
      )
    )
  ),
  "title": (
    "size": 48px,
    "line-height": 111.5%,
  ),
  "titleRow": (
    "size": 36px,
    "line-height": 120%,
  ),
  "subtitleRow": (
    "size": 24px,
    "line-height": 30px,
  )
);

@mixin text($color: null, $size: null) {
  @if ($color) {
    color: map-get($textColors, $color);
  }
  @if ($size) {
    font-size: map-get(map-get($textSizes, $size), 'size');
    line-height: map-get(map-get($textSizes, $size), 'line-height');

    $responsive: map-get(map-get($textSizes, $size), 'responsive');

    @if ($responsive) {
      @each $extension, $values in $responsive {
        $maxWidth: map-get($extensions, $extension);
        @media (max-width: #{$maxWidth}) {
          $fontSize: map-get($values, 'size');
          $lineHeight: map-get($values, 'line-height');

          @if $fontSize {
            font-size: $fontSize;
          }
          @if $lineHeight {
            line-height: $lineHeight;
          }
        }
      }
    }
  }
}


a {
  &:hover {
    text-decoration: none!important;
    color: map-get($textColors, 'lightblue')!important;
  }
}